.cardContainer {
  width: 280px;
  overflow: hidden;
  font-size: 1.1rem;
  border: 1px solid #ccc !important;
  font-family: "Roboto Condensed", sans-serif;
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
}
.cardContainer:hover {
  box-shadow: 0 10px 15px #ccc;
}
.cardContainer:hover .addToBasket {
  height: 35px;
}
.cardImage {
  height: 164px;
  transform: scale(1);
  transition: all .5s ease-in-out;
  overflow: hidden!important;
}
.cardImage img{
  transition: all .5s ease-in-out;
}
.cardImage img:hover{
  transform: scale(1.4);
}
.cardBody {
  height: 155px;
}
.cardBody span {
  text-transform: uppercase;
  font-weight: bold;
}
.cardHeader {
  height: 60px;
  margin-top: 10px;
  color: orange;
}
.cardHeader span {
  border-bottom: 1px solid orange;
}
.cardDescription {
  height: 100%;
}
.cardPrice {
  height: 35px;
  margin-top: 10px;
}

.cardPrice {
  font-size: 1.2rem;
  bottom: 0;
  right: 0;
  color: orange;
}
.cardFavorite {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  border: 1px solid orange;
  color: rgba(255, 166, 0, 0.459);
  background: transparent;
  cursor: pointer;
}
.cardFavorite .fa-heart{
    transition: all .5s ease-in-out;
}
.cardFavorite:hover .fa-heart{
    transform: scale(1.2);
    color: orange;
}
.addToBasket {
  color: white;
  background: orange;
  border: none;
  height: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .2s ease-in-out;
}
.rate{
  position: absolute;
  top: 82%;
  left: 0;
  font-size: 15px!important;
  color: orange!important;
  padding-left: 15px!important;
}
.rate::after{
  content: "(17)";
}
