#basketCount {
  background-color: #4079ff;
}

.searchBar input {
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  padding-left: 15px;
  margin-left: 40px;
}

.navbar-brand {
  color: #4079ff !important;
}

.navbar-nav button {
  background-color: transparent;
  border: none;
  color: #4079ff;
  font-size: 11px!important;
}

.navbar-nav button:hover {
  color: white;
}

.navlink {
  background-color: transparent;
  border: none;
  color: #4079ff;
  font-size: 11px!important;
  margin-left: 15px ;
  margin-right: 5px ;
}

.navlink:hover{
  color: white;
}

.navbar-toggler{
  border: 1px solid #4079ff!important;
  
}

.fa-bars{
  color: #4079ff;
}


@media only screen and (max-width: 300px) {
  .searchBar{
    margin-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-nav button {
    background-color: transparent !important;
    border: none !important;
    color: #4079ff !important;
    font-size: 17px !important;
    text-align: start;
    padding: 10px 0;
    margin: 0!important;
  }
  .navbar-nav button:hover {
    color: white!important;
  }
  .navlink {
    background-color: transparent !important;
    border: none !important;
    color: #4079ff !important;
    font-size: 17px !important;
    margin-top: 10px;
    text-align: start;
    padding: 10px 0;
    margin: 0!important;
  }
  .navlink:hover{
    color: white !important;
  }
  .navlink i {
    margin-left: 0;
  }
  .navbar-nav button i {
    margin-left: 0;
  }
  .searchBar{
    width: 100%;
    margin-top: 20px;
  }
  .searchBar input{
    margin: 0!important;
  }
}


