#basketCount {
  background-color: #4079ff;
}
.active {
  color: white !important;
}
.navbarContainer {
  width: 75% !important;
}
.dropdown-item:hover {
  background-color: #4079ff !important;
}
.dropdown-toggle {
  border: none;
  background-color: transparent;
  color: #4079ff;
}
.searchBar input {
  outline: none;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  margin-left: 40px;
}
.navbar-expand-lg {
  min-height: 70px;
}
.navbar-brand {
  color: #4079ff !important;
}

.navlink {
  background-color: transparent;
  border: none;
  color: #4079ff;
  margin-left: 15px;
}

.navlink:hover {
  color: white;
}

.navbar-toggler {
  border: 1px solid #4079ff !important;
}

.fa-bars {
  color: #4079ff;
}

@media only screen and (max-width: 300px) {
  .searchBar {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .navlink {
    background-color: transparent !important;
    border: none !important;
    color: #4079ff !important;
    margin-top: 10px;
    text-align: start;
    padding: 10px 0;
    margin: 0 !important;
  }
  .navlink:hover {
    color: white !important;
  }

  .navbar-nav button i {
    margin-left: 0;
  }
  .searchBar {
    width: 100%;
    margin-top: 20px;
  }
  .searchBar input {
    margin: 0 !important;
  }
  .navbarContainer {
    width: 100% !important;
  }
}

.loggedin {
  display: none !important;
}
