#addproductForm #productCategory,#moneytype,#shippingtype,
input,
#addProductSubmitButton {
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
}
#productImage {
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

#productUrl {
  height: 40px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;
  border: none;
}
