.forgotPasswordPageContainer{
    background-color: #92C3ED;
}
.forgotPasswordContainer {
  width: 450px;
  height: 250px !important;
  box-shadow: 0 0 5px gray;
}
.forgotPasswordContainer input {
  height: 35px;
  border: none;
  background-color: transparent;
  color: black;
  outline: none;
  padding-left: 10px;
}
